
.entries li {float:left; margin:20px; list-style: none ; width: 350px; height: auto}
h1, h2 {text-align: center;}
ul { text-align: center; margin: 0 auto; width: 1200px}
.villian_form {padding: 100px 505px; }  