 {% extends "layout.html" %}
{% block body %}
<h2>Let's add more Villians. To make Batman Cat weak</h2>
<div class="villian_form">
 <form action="create" method="post" enctype="multipart/form-data" >
 	      Villian Name</br></br>
 	      <input type="text" name="title"><br /><br />
 	      Special Powers</br></br>
 	      <textarea type= "text" name="content"  style="width: 376px; height: 103px; "></textarea><br /><br />
        <input type="file" name="file"><br /><br />
        <input type="submit" value="Upload">
 </form>
 </div>
 {% endblock %}